@use '../styles/ds-spacing' as spacing;

.empty {
  margin: 0;
  font-size: 0.875rem;
  color: var(--content-tertiary);
}

.content {
  display: flex;
  align-items: center;
  gap: spacing.$positive-spacing_400;
  flex-wrap: wrap;
}

.pie {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  flex-shrink: 0;
  border: 1px solid var(--border-tertiary);
}
