@use './styles/ds-spacing' as spacing;

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  padding: spacing.$positive-spacing_400 spacing.$positive-spacing_300;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: spacing.$positive-spacing_300;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.feedback {
  width: 100%;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  gap: spacing.$positive-spacing_150;
}

.headerTitle {
  display: flex;
  flex-direction: column;
  gap: spacing.$positive-spacing_025;
}

.headerAppName {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--content-brand-navigation-default);
}

.headerSubtitle {
  font-size: 0.875rem;
  color: var(--content-brand-navigation-hover);
}
